;; shadow-cljs configuration
{:source-paths
 ["src/dev"
  "src/main"
  "src/test"]

 :dependencies
 [[reagent "1.1.0"]]

 :dev-http
 {7777 "pwa"}

 :builds
 {:desktop {:target     :browser
            :asset-path "desktop"
            :output-dir "desktop/build"
            :modules    {:main {:init-fn solitaire.core/main}}}
  :web     {:target     :browser
            :asset-path "/assets/build"
            :output-dir "pwa/assets/build"
            :modules    {:shared {:entries []}
                         :main   {:init-fn    solitaire.core/main
                                  :depends-on #{:shared}}
                         :worker {:init-fn    solitaire.worker.core/main
                                  :depends-on #{:shared}
                                  :web-worker true}}}}}
