;; shadow-cljs configuration
{:source-paths
 ["src/dev"
  "src/main"
  "src/test"]

 :dependencies
 [[reagent "1.1.0"]
  [re-com "2.13.2"]
  [re-frame "1.2.0"]
  [day8.re-frame/undo "0.3.3"]]

 :dev-http
 {7777 "pwa"}

 :ssl
 {}

 :builds
 {:desktop {:target     :browser
            :asset-path "desktop"
            :output-dir "desktop/build"
            :modules    {:main {:init-fn solitaire.core/main}}}
  :web     {:target     :browser
            :asset-path "/assets/build"
            :output-dir "pwa/assets/build"
            :modules    {:shared {:entries []}
                         :app    {:init-fn    solitaire.core/main
                                  :depends-on #{:shared}}
                         :worker {:init-fn    solitaire.worker.core/main
                                  :depends-on #{:shared}
                                  :web-worker true}}}}}
