<!DOCTYPE html>
<html>
<head>
    <title>Solitaire</title>
    <base href="{{base_url}}/">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
    <meta name="theme-color" content="#008000">
    <meta name="apple-mobile-web-app-status-bar-style" content="#008000">
    <link rel="manifest" href="manifest.json">
    <link rel="apple-touch-icon" href="{{base_url}}/assets/images/icon192.png" />
    <link rel="stylesheet" href="assets/re-com/css/bootstrap.css"/>
    <link rel="stylesheet" href="assets/re-com/css/material-design-iconic-font.min.css"/>
    <link rel="stylesheet" href="assets/re-com/css/re-com.css"/>
    <link rel="stylesheet" href="assets/css/app.css"/>
</head>
<body>
    <div id="app-container">

    </div>
    <script type="text/javascript" src="assets/re-com/scripts/detect-element-resize.js"></script>
    <script type="text/javascript" src="{{shared_filename}}"></script>
    <script type="text/javascript" src="{{app_filename}}"></script>
</body>

</html>
